<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Citas</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="vh-100 gradient-custom">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand">
                <img src="/tu-imagen.png" alt="Logo" style="height: 40px;">
            </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="redirectToNotificationPage()">
                            <i class="fas fa-bell"></i> Notifications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="logout()">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid h-100">
        <div class="row flex-nowrap h-100">
            <!-- Barra lateral de navegación (sidebar) -->
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#home" onclick="redirectToHomePage()" class="nav-link align-middle px-0">
                            <i class="fas fa-home"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#profile" onclick="redirectToProfilePage()" class="nav-link px-0 align-middle">
                            <i class="fas fa-user"></i> <span class="ms-1 d-none d-sm-inline">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#schedule" onclick="redirectToShedulePage()" class="nav-link px-0 align-middle">
                            <i class="fas fa-calendar"></i> <span class="ms-1 d-none d-sm-inline">Schedule</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
            <!-- Contenido principal: Listado de citas disponibles -->
            <div class="col py-3">
                <h2 class="fw-bold mb-4 text-uppercase">Citas Disponibles</h2>
                <div class="table-responsive">
                    <table class="table table-striped" id="available-appointments">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Médico</th>
                                <th>Tipo de Cita</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Las filas se añadirán dinámicamente aquí -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" async></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" async></script>
    <script>
        // Función para cargar citas disponibles
        function loadAvailableAppointments() {
            var token = localStorage.getItem('jwtToken');

            $.ajax({
                type: "GET",
                url: "/api/citas/list/",
                headers: { 'Authorization': 'Bearer ' + token },
                success: function(data) {
                    var tableBody = $('#available-appointments tbody');
                    tableBody.empty(); // Limpiar tabla antes de añadir nuevas filas
                    var appointmentList = data.filter(function(appointment) {
                        return appointment.status === "disponible";
                    });
                    console.log(appointmentList);
                    appointmentList.forEach(function(appointment) {
                        var formattedDate = new Date(appointment.date).toLocaleString();
                        var row = `<tr>
                                    <td>${appointment.id}</td>
                                    <td>${formattedDate}</td>
                                    <td>${appointment.doctor.fullName}</td>
                                    <td>
                                        <select id="type-${appointment.id}" class="form-control">
                                            <option value="Chagas">Chagas</option>
                                            <option value="Leishmaniasis">Leishmaniasis</option>
                                            <option value="Enfermedad respiratoria">Enfermedad respiratoria</option>
                                        </select>
                                    </td>
                                    <td><button type="button" onclick="saveSelectedType(${appointment.id})" class="btn btn-primary">Reservar</button></td>
                                </tr>`;
                        tableBody.append(row);
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error al cargar citas disponibles: ", xhr.responseText);
                }
            });
        }

        function saveSelectedType(appointmentId) {
            var selectedType = document.getElementById('type-' + appointmentId).value;
            localStorage.setItem('selectedType', selectedType);
            console.log("Tipo de cita seleccionado y guardado:", localStorage.getItem('selectedType'));
            getPacient(appointmentId);
        }

        function getPacient(appointmentId) {
            var token = localStorage.getItem('jwtToken');
            var userId = localStorage.getItem('userId');

            $.ajax({
                type: "GET",
                url: "/api/patient/list/" + userId,
                headers: { 'Authorization': 'Bearer ' + token },
                success: function(paciente) {
                    console.log(paciente);
                    delete paciente.user;
                    getAppointment(appointmentId, paciente);
                },
                error: function(xhr, status, error) {
                    console.error("Error al cargar el perfil: ", xhr.responseText);
                }
            });
        }

        function getAppointment(appointmentId, paciente) {
            var token = localStorage.getItem('jwtToken');

            $.ajax({
                type: "GET",
                url: "/api/citas/list/" + appointmentId,
                headers: { 'Authorization': 'Bearer ' + token },
                success: function(data_appointment) {
                    localStorage.setItem('appointmentId', appointmentId);
                    data_appointment.patient = paciente;
                    data_appointment.status = "proxima";
                    let user_medico = {
                                            "id": data_appointment.doctor.user.id,
                                            "username": data_appointment.doctor.user.username,
                                            "password": data_appointment.doctor.user.password,
                                            "email": data_appointment.doctor.user.email,
                                            "role": data_appointment.doctor.user.role
                                        };
                    delete data_appointment.doctor.user;
                    updateAppointment(data_appointment, user_medico);
                },
                error: function(xhr, status, error) {
                    console.error("Error al cargar la cita: ", xhr.responseText);
                }
            });
        }

        function updateAppointment(data, user_medico) {
            var token = localStorage.getItem('jwtToken');

            $.ajax({
                url: "/api/citas/",
                type: "PUT",
                contentType: "application/json",
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                data: JSON.stringify(data),
                success: function(response) {
                    console.log('Cita actualizada con éxito:', response);
                    getSample(user_medico);
                },
                error: function(xhr, status, error) {
                    console.error('Error al actualizar la cita:', xhr.responseText);
                    alert('Error al actualizar la cita: ' + xhr.responseText);
                }
            });
        }

        function getSample(user_medico) {
            var token = localStorage.getItem('jwtToken');
            var appointmentId = localStorage.getItem('appointmentId');

            $.ajax({
                type: "GET",
                url: "/api/samples/list/",
                headers: { 'Authorization': 'Bearer ' + token },
                success: function(data_muestra) {
                    var muestra = data_muestra.find(function(muestra) {
                        return muestra.appointment.id === parseInt(appointmentId)
                    });
                    muestra.type = localStorage.getItem('selectedType');
                    delete muestra.appointment.patient.user;
                    delete muestra.appointment.doctor.user;
                    updateSample(muestra, user_medico);
                },
                error: function(xhr, status, error) {
                    console.error("Error al cargar la muestra: ", xhr.responseText);
                }
            });
        }

        function updateSample(data, user_medico) {
            var token = localStorage.getItem('jwtToken');

            $.ajax({
                url: "/api/samples/",
                type: "PUT",
                contentType: "application/json",
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                data: JSON.stringify(data),
                success: function(response) {
                    console.log('Muestra actualizada con éxito:', response);
                    console.log(user_medico);
                    createNotification(user_medico);
                    
                },
                error: function(xhr, status, error) {
                    console.error('Error al actualizar la muestra:', xhr.responseText);
                    alert('Error al actualizar la muestra: ' + xhr.responseText);
                }
            });
        }

        function createNotification(user_medico) {
            var token = localStorage.getItem('jwtToken');
            senderId = localStorage.getItem('userId');
            data = {
                        "user": user_medico,
                        "senderId": senderId,
                        "message": "Un paciente ha reservado una cita con usted. Por favor, revise su agenda.",
                        "type": "apointment",
                        "date": new Date().toISOString()
                    };

            $.ajax({
                url: "/api/notifications/",
                type: "POST",
                contentType: "application/json",
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                data: JSON.stringify(data),
                success: function(response) {
                    console.log('Notificacion creada con éxito:', response);
                    redirectToShedulePage();
                },
                error: function(xhr, status, error) {
                    console.error('Error al crear la Notificacion:', xhr.responseText);
                    alert('Error al crear la Notificacion: ' + xhr.responseText);
                }
            });
        }

        function redirectToShedulePage() {
            var token = localStorage.getItem('jwtToken');
            var redirectUrl = "/pacient/shedule";

            $.ajax({
                type: "GET",
                url: redirectUrl,
                headers: { 'Authorization': 'Bearer ' + token },
                success: function(data) {
                    document.open();
                    document.write(data);
                    document.close();
                    window.history.pushState({path: redirectUrl}, '', redirectUrl);
                },
                error: function(xhr, status, error) {
                    console.error("Access denied: ", xhr.responseText);
                }
            });
        }

        function redirectToHomePage() {
            var token = localStorage.getItem('jwtToken');
            var redirectUrl = "/pacient/home";

            $.ajax({
                type: "GET",
                url: redirectUrl,
                headers: { 'Authorization': 'Bearer ' + token },
                success: function(data) {
                    document.open();
                    document.write(data);
                    document.close();
                    window.history.pushState({path: redirectUrl}, '', redirectUrl);
                },
                error: function(xhr, status, error) {
                    console.error("Access denied: ", xhr.responseText);
                }
            });
        }

        function redirectToProfilePage() {
            var token = localStorage.getItem('jwtToken');
            var redirectUrl = "/pacient/profile";

            $.ajax({
                type: "GET",
                url: redirectUrl,
                headers: { 'Authorization': 'Bearer ' + token },
                success: function(data) {
                    document.open();
                    document.write(data);
                    document.close();
                    window.history.pushState({path: redirectUrl}, '', redirectUrl);
                },
                error: function(xhr, status, error) {
                    console.error("Access denied: ", xhr.responseText);
                }
            });
        }

        function redirectToNotificationPage() {
            var token = localStorage.getItem('jwtToken');
            var redirectUrl = "/pacient/notificaciones";
            $.ajax({
                type: "GET",
                url: redirectUrl,
                headers: { 'Authorization': 'Bearer ' + token },
                success: function(data) {
                    document.open();
                    document.write(data);
                    document.close();
                    window.history.pushState({path: redirectUrl}, '', redirectUrl);
                },
                error: function(xhr, status, error) {
                    console.error("Access denied: ", xhr.responseText);
                }
            });
        }

        function logout() {
            // Borrar todo el localStorage
            localStorage.clear();
            // Redirección después de logout si es necesario
            window.location.href = '/landing-page';
        }

        $(document).ready(function() {
            loadAvailableAppointments();
        });
    </script>
</body>
</html>
